<section id="/collections/all" class="featured-products">
  <div class="product-list">
    {% for product in products %}   
      {% comment %} Limit used to determine the number of products to display, the rest adds the hidden class {% endcomment %}
      <div class="product-card {% if forloop.index > 4 %}hidden{% endif %}">
        {% render 'product-card', product: product %}
      </div>
    {% endfor %}
  </div>
</section>

<div class="btn__view__all">
  <button id="loadMore">{{ "view all" | upcase}}</button>
</div>
