<header class="header__container">

    <button class="nav__toggle">
        <i class="fas fa-bars"></i>
    </button>
    
    <div class="logo">
        <span class="fa-solid fa-diamond"></span>
        <h1> {{ "shuffle" | upcase }} </h1>
        <span class="logo__store">{{ "store" | upcase }}</span>
    </div>

    <ul class="payment__list">
        <p>we accept</p>
        <li class="fa-brands fa-bitcoin"></li>
        <li class="fa-brands fa-ethereum"></li>
        <li class="fa-solid fa-litecoin-sign"></li>
        <li class="fa-solid fa-d"></li>
        <li class="fa-solid fa-dollar-sign"></li>
    </ul>

    <nav class="nav">
        <div class="nav__menu">
            <a href="#/collections/all" class="nav__links">All Products</a>
            <a href="#/collections" class="nav__links">Collections</a>
        </div>
        <button class="nav__button">
            <i class="fas fa-shopping-cart"></i>
        </button>
    </nav>


</header>