<header class="header__container">
    <h1 class="logo">
        <span class="fa-solid fa-diamond"></span>
        {{ "shuffle" | upcase }}
        <span class="logo__store">{{ "store" | upcase }}</span>
    </h1>

    <ul class="payment__list">
        <p>we accept</p>
        <li class="fa-brands fa-bitcoin"></li>
        <li class="fa-brands fa-ethereum"></li>
        <li class="fa-solid fa-litecoin-sign"></li>
        <li class="fa-solid fa-d"></li>
        <li class="fa-solid fa-dollar-sign"></li>
    </ul>

    <nav>
        <a href="/collections/all" class="nav__links">all products</a>
        <a href="/collections" class="nav__links">collections</a>
        <button class="nav__button fas fa-shopping-cart"></button>
    </nav>
</header>